.nav-vsee {
	border-bottom: 1px solid #ccc;
}

.navbar-brand img {
	width: 80px;
}

.connecting {
	margin: 0px 10px;
	border-bottom: 1px solid #ccc;
	padding: 50px 0px;
}

.close-text {
	margin: 10px 0px;
}

.profile-row {
	margin: 20px 0px;
}

img.profile {
	width: 75px;
	height: 75px;
}